
@media all and (min-width: 450px)
{
    .login h1
    {
        padding: 20px 0;
    }

    .login, .noAccount
    {
        margin: 20px auto;
        border: 1px solid var(--lightGrey);
        background-color: var(--sectionColor);
    }

    .facebook, .forgotPassword
    {
        margin: 10px 0;
    }

    .noAccount
    {
        padding: 20px 0;
    }

    footer 
    {
        padding: 10px 15px 5px;
    }

    footer ul 
    {
        margin-bottom: 10px;
    }
}

@media all and (min-width: 875px)
{

    .loginAndStore, .phone
    {
        width: 350px;
        display: flex;
    }

}